.custom-features-products {
  font-family: "Gothic A1", sans-serif;
}

.custom-features-products__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
}

.custom-features-products__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-features-products__item {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.custom-features-products__heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 36px;
  color: #656874;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 30px;
  padding: 0px 20px;
}

.custom-features-products__img {
  width: 100%;
  margin-bottom: 20px;
}

.custom-features-products__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 42px;
  text-decoration: none;
  color: #656874;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px 20px;
}

.custom-features-products__button {
  display: block;
  width: 285px;
  background-color: #464B90;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  padding: 18px 20px;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
}

.custom-features-products__button:hover {
  background-color: #5b60a9;
  cursor: pointer;
}

.custom-features-products__message {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .custom-features-products__item {
    margin-bottom: 50px;
  }

  .custom-features-products__heading {
    font-size: 42px;
    line-height: 42px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1080px) {
  .custom-features-products__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}